<!DOCTYPE html>
<html lang="en" ng-app="GroceryApp">
<head>
    <meta charset="UTF-8">
    <title>Show</title>

    <!--CSS files-->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">


    <!--JS file-->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/bootstrap/js/carousel.js"></script>
    <script src="../bower_components/bootstrap/js/button.js"></script>
    <script src="../bower_components/bootstrap/js/transition.js"></script>


</head>
<body>

<div class="container" ng-controller="EditCtrl as ctrl">

    <h1>Edit</h1>
    <br>

    <hr>
    <table class="table table-striped" ng-show="ctrl.showDetails">
        <thead>
        <tr>
            <th>Grocery Attributes</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ID number</td>
            <td>
                {{ ctrl.result.id }}

                <button type="button" class="btn btn-link btn-sm"
                        ng-click="ctrl.toggleEditor()">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>
                </button>

    <div ng-show="ctrl.isEditorOn">
    <div class="input-group">
        <input type="text" class="form-control"  size ="1" ng-model="ctrl.result.id">
        <div class="input-group-btn">
            <button type="button" class="btn btn-success"
                    ng-click="ctrl.save()">
                <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>
            </button>
            <button type="button" class="btn btn-danger"
                    ng-click="ctrl.toggleEditor()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
            </button>

        </div>
        </div>
        </div>
        </td>

        </tr>

        <tr>
            <td>UPC12</td>
            <td>
                {{ ctrl.result.upc12 }}

                <button type="button" class="btn btn-link btn-sm"
                        ng-click="ctrl.toggleEditor()">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>
                </button>

                <div ng-show="ctrl.isEditorOn">
                    <div class="input-group">
                        <input type="text" class="form-control"  size ="1" ng-model="ctrl.result.upc12">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success"
                                    ng-click="ctrl.save()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="ctrl.toggleEditor()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
                            </button>

                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>Brand</td>
            <td>
                <div ng-hide="ctrl.isEditorOn">
                    {{ ctrl.result.name }}
                    <button type="button" class="btn btn-link btn-sm"
                            ng-click="ctrl.toggleEditor()">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>
                    </button>

                </div>
                <div ng-show="ctrl.isEditorOn">
                    <div class="input-group">
                        <input type="text" class="form-control"  size ="1" ng-model="ctrl.result.brand">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success"
                                    ng-click="ctrl.save()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="ctrl.toggleEditor()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
                            </button>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
        <tr>
            <td>Product Name</td>



            <td>{{ ctrl.result.name }}
                <button type="button" class="btn btn-link btn-sm"
                        ng-click="ctrl.toggleEditor()">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>
                </button>

                <div ng-show="ctrl.isEditorOn">
                    <div class="input-group">
                        <input type="text" class="form-control"  size ="1" ng-model="ctrl.result.name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success"
                                    ng-click="ctrl.save()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="ctrl.toggleEditor()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
                            </button>

                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>