<!DOCTYPE html>
<html lang="en" ng-app="GroceryApp">
<head>
    <meta charset="UTF-8">
    <title>Search</title>

    <!--CSS files-->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

    <!--JS file-->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/bootstrap/js/carousel.js"></script>
    <script src="../bower_components/bootstrap/js/button.js"></script>
    <script src="../bower_components/bootstrap/js/transition.js"></script>


</head>
<body>

<div class="container" ng-controller="SearchCtrl as ctrl">

    <h1>Search Here :</h1>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="brandName" class="form-control" type="text" name="brandName" ng-model="ctrl.brandname"
                   placeholder="Enter Brand">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.searchForBrand()">
                Search by Brand
            </button>

            <div class="form-group">
                <input id="productName" class="form-control" type="text" name="productName" ng-model="ctrl.name"
                       placeholder="Enter Product name">
            </div>

            <button class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search by Product Name
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>UPC12</th>
            <th>Brand</th>
            <th>Product Name</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="brand in ctrl.brandname">
            <td>{{brand.id}}</td>
            <td>{{brand.upc12}}</td>
            <td>{{brand.brand}}</td>
            <td>{{brand.name}}</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>